.pdf-checkfile-chap {
  background-image: url("https://i.pinimg.com/originals/fd/66/b2/fd66b246031b3f762bfcb016b7218025.jpg");
  width: 99vw;
  height: 99vh;
  margin: none;
  display: block;
  max-width: 99vw;
  //top: 5.5%;
}

.admin-btns {
  position: absolute;
  top: 10%;
}
