.pdf-file-chap {
  //background-color: #d1d0d6;
  background-image: url("https://img.goodfon.com/original/1600x1200/e/e8/pikachu-pikachu-shar-zheltyi-igra-game.jpg");
  width: 99vw;
  height: 99vh;
  margin: none;
  display: block;
  max-width: 99vw;

}
