<!--
<nav *ngIf="!isChecked" class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">

    <select name="chapterList" id="chapterList"
            [(ngModel)]="this.currentChapter">
      <option *ngFor="let chap of listChaptersByManga" value="{{chap.number}}}"
              class="chap_{{chap.number}}">{{chap.number}}</option>
    </select>



    <div class="selectlink">
      <div>
        <a href="/mangaPage/{{mangaPageId}}/v1/{{listChaptersByManga[nextIndex].number}}" [class.disabled]="index == listChaptersByManga.length - 1">Далее</a>
      </div>
      <div class="selectlink-control" (click)="testMethod()">Глава: {{currentChapter.number}}</div>
      <ul id="selectlink_ul">
        <li *ngFor="let chap of listChaptersByManga">
          <a class="link-number-{{chap.number}}" href="/mangaPage/{{this.mangaPageId}}/v1/{{chap.number}}">{{chap.number}}</a></li>
      </ul>
      <div>
       <a href="javascript:void(0)" [class.disabled]="index == 0" (click)="previousChapter()">Назад</a>
        <a href="/mangaPage/{{mangaPageId}}/v1/{{listChaptersByManga[prevIndex].number}}" [class.disabled]="index == 0">Назад</a>
      </div>
    </div>

  </div>
</nav> -->

<app-chapters-menu *ngIf="!isChecked"
                   [currentChapter]="currentChapter"
                   [listChaptersByManga]="listAllChapters"
                   [mangaPageId]="pageId"
                   [manga]="manga"
></app-chapters-menu>

<div>
  <pdf-viewer class="pdf-file-chap" [src]="selectedFile"
              [render-text]="true"
              [original-size]="false"
              [autoresize]="true"
              [rotation]="90"
              [zoom]="0.7"
              [zoom-scale]="'page-width'"

  ></pdf-viewer>
</div>


