.manga_body{
  max-width: 800px;
}
.manga_body a {
  text-decoration: none;
  //background-color: #d6e5f1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  border: 2px solid rgba(255,255,255, .2);
}

.manga_body li {
  position: relative;
  list-style: none;
  text-align: center;
}

.manga-link.active {
  color: #000000;
  border-radius: 5px;
  background-color: #cccccc;
}

.manga-link:hover {
  background-color: #d6e5f1;
  border-radius: 5px;
  text-decoration: underline;
}

.manga_body a:hover {
  color: red;
}

.manga-rate {
  font-size: 1.5rem;
}

app-rating {
  font-size: 2rem;
}

.container-chapters {
  max-height: 500px;
  max-width: 800px;
  scrollbar-width: auto;
  margin: auto;
}

.comments-container {
  background-color: #9e6b3a;
  display: block;
  scrollbar-width: auto;
  max-height: 400px;
  max-width: 600px;
  width: 600px;
  //width: 400px;
  //height: 200px;

}

.comment-write {
  height: 100px;
}

.appreciate-container {
  display: none;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 25%;
  right: 38%;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.appreciate-container button {
  font-size: 2rem;
}


//.third-star:hover .third-star .first-star .second-star {
//  background-color: #9e6b3a;
//}

